.hitters-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    grid-gap: 45px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    list-style-type: none; 
}