.hitters-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    grid-gap: 40px;
    width: 100%;
    list-style-type: none; 
    padding-right: 0px;
}