.player {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}

.player:hover {
    background-color: #fff;
    color: #000;
}

.player__image {
    width: 100px;
}

.player__name {
    font-size: 21px;
    font-weight: 500;
    width: 300px;
}

.player__position {
    font-size: 21px;
    font-weight: 500;
}

.player__number {
    margin: 20px 0px;
    text-align: center;
}

.player__stats {
    font-weight: 500;
    margin-top: 35px;
    padding: 0px;
}

.player__stats_first {
    padding-top: 18px;
}

.player__release {
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;  
}

@media screen and (max-width: 1000px) {
    .player {
        justify-content: left;
        gap: 30px;
    }
}

@media screen and (max-width: 940px) {
    .player {
        padding-left: 10px;
    }

    .player__number_avg {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .player__image {
        width: 75px;
    }

    .player__name {
        font-size: 15px;
    }
}